body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: radial-gradient(circle at top, #020617, #000);
  color: #e5e7eb;
}

.title {
  font-size: 32px;
  margin-top: 10px;
}

.subtitle {
  color: #9ca3af;
}

.game-container {
  position: relative;
  width: 400px;
  margin: auto;
}

canvas {
  background: radial-gradient(circle, #020617, #000814);
  border: 3px solid #22c55e;
  box-shadow: 0 0 30px #22c55e;
  display: block;
}

button {
  padding: 10px 16px;
  margin: 6px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#startBtn {
  font-size: 20px;
  background: #22c55e;
  color: black;
}

.controls button {
  font-size: 18px;
}

/* GAME OVER ANIMATION */
#gameOver {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: zoomIn 0.6s ease;
}

#gameOver h2 {
  font-size: 42px;
  color: red;
  text-shadow: 0 0 20px red;
}

#gameOver p {
  font-size: 22px;
  margin-bottom: 10px;
}

@keyframes zoomIn {
  from { transform: scale(0.6); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

footer {
  margin-top: 20px;
  font-size: 14px;
  color: #9ca3af;
}

